body {
	background: #FFFFFF;
	font-family: "Avenir", "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #222;
}

img {
	padding: 1px;
	border: 1px solid #999999;
	background-color: #FFF;
}

h1{margin: 0px 0px; padding: 0;}
h2{margin: 15px 0px 5px 0px; padding: 0; font-size: 1.2em;}
p{margin: 0px 0px; padding: 0;}

table tr td {
	vertical-align: top;
	padding: 4px;
}
	
ul li {
	list-style-image: url('http://people.ischool.berkeley.edu/~ryanfbaker/i253/images/bullet2.gif');
	padding-bottom: 8px;
	margin-left: -10px;
	}

#wrapper {
        margin: 0 auto;
        width: 1000px;
}	

#content {
        width: 100%;
        padding: 0px;
        text-align: left;
        vertical-align: top;
}
	
#content-box {
		margin: 0 auto;
		width: 800px;
		padding: 12px;
		border: 1px dotted #222;
		-moz-box-shadow: 4px 4px 2px #ddd;
		-webkit-box-shadow: 4px 4px 2px #ddd;
		box-shadow: 4px 4px 2px #ddd;
		}
		
#linkbox {
		width: 990px;
		margin: 0 auto 12px;
		padding: 8px;
		border: 1px dotted #222;
		-moz-box-shadow: 4px 4px 2px #ddd;
		-webkit-box-shadow: 4px 4px 2px #ddd;
		box-shadow: 4px 4px 2px #ddd;
}
	
.header {
	font-weight: bold;
	padding: 4px 0px;
}

.subheader {
	font-style: italic;
}

.description {
	color: #444444;
}

#copy {
	color: silver;
	text-align: right;
	}


a:link {text-decoration: none; color: #247b01;}
a:visited {text-decoration: underline; color: #247b01;}
a:hover {text-decoration: underline; color: #888;}
a:active {text-decoration: underline; color: #666;}

input {font-size: 1em; margin: 0px; padding: 8px; border: 1px solid #222;}

input#username {width: 200px;}